.textarea-autor {
    font-family: "PT Mono";
    font-size: 18px;
    width: 40%;
    resize: none;
    outline: none;
    overflow: auto;
    border: dashed 1px #dddddd;
    cursor: text;
}

.table-kws {
    width: 246px;
}

.table-kws tr:hover {
    background: #eeeeee;
}

.variant-query {

}

.variant-query:hover {
    background: #eeeeee;
}

.right {
    text-align: right;
}

img {
    float: left;
    margin-right: 24px;
}

hr {
    clear: both;
}