.textarea-autor {
    font-family: "PT Mono";
    font-size: 16px;
    width: 40%;
    resize: none;
    outline: none;
    overflow: auto;
    border: dashed 1px #dddddd;
    cursor: text;
}

.table-kws {
    width: 246px;
}

.table-kws tr:hover {
    background: #eeeeee;
}

.variant-query-table {
    width: 100%;
}

.variant-query-td {
    width: 100%;
}

.variant-query {
    width: 100%;
}

.variant-query:hover {
    font-family: "PT Mono Bold";
    background: #eeeeee;
    cursor: pointer;
}

.variant-checkbox {
    margin-right: 40px;
}

.variant-checkbox-label {
    cursor: pointer;
}

.variant-checkbox-label:hover {
    background: #eeeeee;
}

.right {
    text-align: right;
}

img {
    float: left;
    margin-right: 24px;
}

hr {
    clear: both;
}