/*
Table of content

    General
    Typography
    Color
 */

/*
 * ----------------------------------------------------------------
 * General
 * ----------------------------------------------------------------
 */

.textarea-author {
    width: 40%;
    resize: none;
    outline: none;
    overflow: auto;
    border: dashed 1px;
    cursor: text;
}

.table-kws {
    width: 296px;
}

.variant-query-table {
    width: 100%;
}

.variant-query-td {
    width: 100%;
}

.variant-query {
    width: 100%;
}

.variant-query:hover {
    cursor: pointer;
}

.variant-checkbox {
    margin-right: 40px;
}

.variant-checkbox-label {
    cursor: pointer;
}

.right {
    text-align: right;
}

img {
    float: left;
    margin-right: 24px;
    max-width: 400px;
}

hr {
    clear: both;
}

/*
 * ----------------------------------------------------------------
 * Typography
 * ----------------------------------------------------------------
 */

.textarea-author {
    font-size: 16px;
}

.variant-query:hover {
    font-weight: bold;
}

/*
 * ----------------------------------------------------------------
 * Color
 * ----------------------------------------------------------------
 */

.textarea-author {
    border-color: #ddd;
}

.table-kws tr:hover {
    background: #eee;
}

.variant-query:hover {
    background: #eee;
}

.variant-checkbox-label:hover {
    background: #eee;
}
