@charset "utf-8";
@import url("/webfonts/PTMonoWeb/stylesheet.css");

/* Есть цвет в скрипте js/uncheckedTranslations.js */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    cursor: default;
}

input[type="submit"] {
    border: solid 1px;
    padding: 8px;
    width: 100%;
    text-align: center;
    outline: none;
}

input[type="submit"]:hover {
    border: solid 1px;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

select {
    outline: none;
    border: solid 1px;
}

option {

}

.page {
    max-width: 736px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.meta {

}

.img-index {
    width: 100%;
}

.textarea-keywords {
    width: 100%;
    resize: none;
    outline: none;
    overflow: auto;
    border: dashed 1px;
    cursor: text;
}

.textarea-message {
    width: 100%;
    resize: none;
    outline: none;
    overflow: auto;
    border: dashed 1px;
    cursor: text;
}

.error {
    animation-name: error;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.content-right {
    text-align: right;
}

.label-highlight {
    display: inline-block;
    width: 100%;
}

.help {
    display: inline-block;
    width: 100%;
    text-align: left;
}

#sortable {
    list-style-type: none;
    cursor: move;
    display: inline-block;
    width: 100%;
}

.counter {
    padding-left: 4px;
    padding-right: 4px;
}

.keyword-ru {
    display: inline-block;
    margin-bottom: 4px;
}

.separate-checkbox {
    padding-left: 48px;
    text-indent: -26px;
}

.result:hover {
    cursor: pointer;
}

.hint-box-deselect {
    width: 100%;
    border: solid 1px;
}

.hint-box-deselect:hover {
    border: dashed 1px;
}

.hint-box-select {
    width: 100%;
    border: solid 1px;
}

.hint-box-select:hover {
    border: dashed 1px;
}

.rank-hint-box {
    width: 100%;
    cursor: move;
    padding-top: 2px;
    padding-bottom: 2px;
}

.hover-invert:hover {
    cursor: pointer;
}

.hint-translations {
    width: 100%;
    padding-left: 24px;
}

.line {
    border-top: dashed 1px;
}

.kw-pattern {
    display: inline-block;
    width: 100%;
}

.up-block {
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.up-center-block {
    max-width: 736px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.block-404-503 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.content-404-503 {
    display: block;
    border: none;
    text-align: left;
}

.hidden {
    display: none;
}

.pluso {
    margin-left: -4px;
}

.pluso-more {
    display: none !important;
}

.notice {
    padding: 8px 16px;
}

.notice-title {
    margin-bottom: 16px;
}

/*
 * ----------------------------------------------------------------
 * Typography
 * ----------------------------------------------------------------
 */

body {
    font-family: "PT Mono", monospace;
    font-size: 16px;
    font-weight: normal;
}

h1 {
    font-family: "PT Mono", monospace;
    font-weight: normal;
    font-size: 16px;
}

h2 {
    font-family: "PT Mono", monospace;
    font-weight: normal;
    font-size: 16px;
}

input[type="submit"] {
    font-family: "PT Mono Bold", monospace;
    font-size: 16px;
}

select {
    font-family: "PT Mono", monospace;
    font-size: 16px;
}

.bold {
    font-family: "PT Mono Bold", monospace;
}

.textarea-keywords {
    font-family: "PT Mono", monospace;
    font-size: 16px;
}

.textarea-message {
    font-family: "PT Mono", monospace;
    font-size: 16px;
}

.counter {
    font-family: "PT Mono Bold", monospace;
}

.keyword-ru {
    font-family: "PT Mono Bold", monospace;
}

.hover-invert {
    font-family: "PT Mono Bold", monospace;
}

.notice-title {
    font-weight: 700;
}

.link-button {
    text-decoration: none;
}

.link-button-reset {
    text-decoration: none;
}

.link-button-reset:hover {
    text-decoration: none;
}

/*
 * ----------------------------------------------------------------
 * Color
 * ----------------------------------------------------------------
 */

body {
    color: #000000;
}

input[type="submit"] {
    color: #888888;
    border-color: #888888;
    background: #ffffff;
}

input[type="submit"]:hover {
    color: #000000;
    border-color: #000000;
}

select {
    border-color: #dddddd;
}

label:hover {
    background: #eeeeee;
}

a {
    color: #888888;
}

a:hover {
    color: #000000;
}

@keyframes error {
    0% {
        color: #888888;
    }
    100% {
        color: #dddddd;
    }
}

.textarea-keywords {
    border-color: #dddddd;
}

.textarea-message {
    border-color: #dddddd;
}

.help {
    background: #eeeeee;
    color: #888888;
}

.link-button-reset {
    color: #888888;
}

.link-button-reset:hover {
    color: #000000;
}

#sortable li:hover {
    background: #eeeeee;
}

.counter {
    color: #000000;
    background: #dddddd;
}

.block-translated {
    color: #888888;
}

.block-not-translated {
    color: #888888;
}

.keyword-ru {
    color: #000000;
}

.keyword-en {
    color: #000000;
}

.result:hover {
    background: #eeeeee;
}

.hint-box-deselect {
    background: #eeeeee;
    border-color: #eeeeee;
}

.hint-box-deselect:hover {
    border-color: #888888;
}

.hint-box-select {
    background: #ffffff;
    border-color: #ffffff;
}

.hint-box-select:hover {
    border-color: #888888;
}

.rank-hint-box {
    background: #ffffff;
}

.rank-hint-box:hover {
    background: #eeeeee;
}

.hover-invert:hover {
    background: #000000;
    color: #FFFFFF;
}

.hint-translations {
    color: #888888;
}

.line {
    border-color: #dddddd;
}

.kw-pattern:hover {
    background: #eeeeee;
}

.up-button {
    background: #FFFFFF;
}

.notice {
    background-color: #63eec1;
    color: #000000;
}

.notice a {
    color: #000000;
}
