@charset "utf-8";
@import url("../webfonts/PTMonoWeb/stylesheet.css");

/* Есть цвет в скрипте js/uncheckedTranslations.js */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: PT Mono;
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    cursor: default;
}

h1 {
    font-family: "PT Mono";
    font-weight: normal;
    font-size: 18px;
}

h2 {
    font-family: "PT Mono";
    font-weight: normal;
    font-size: 18px;
}

.page {
    max-width: 736px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.meta {

}

.bold {
    font-family: "PT Mono Bold";
}

.img-index {
    width: 100%;
}

.textarea-keywords {
    font-family: "PT Mono";
    font-size: 18px;
    width: 100%;
    resize: none;
    outline: none;
    overflow: auto;
    border: dashed 1px #dddddd;
    cursor: text;
}

.textarea-message {
    font-family: "PT Mono";
    font-size: 18px;
    width: 100%;
    resize: none;
    outline: none;
    overflow: auto;
    border: dashed 1px #dddddd;
    cursor: text;
}

@keyframes error {
    0% {
        color: #888888;
    }
    100% {
        color: #dddddd;
    }
}

.error {
    animation-name: error;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.table-sqs {
    width: 100%;
}

.table-sqs-patterns {
    width: 100%;
}

.content-right {
    text-align: right;
}

input[type="submit"] {
    color: #888888;
    border: solid 1px #888888;
    font-family: "PT Mono Bold";
    font-size: 18px;
    padding: 8px;
    width: 100%;
    text-align: center;
    background: #ffffff;
    outline: none;
}

input[type="submit"]:hover {
    color: #000000;
    border: solid 1px #000000;
    cursor: pointer;
}

.stub {
    width: 100%;
    background: #dddddd;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #888888;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

select {
    font-family: "PT Mono";
    font-size: 18px;
    outline: none;
    border: solid 1px #dddddd;
}

option {

}

label:hover {
    background: #eeeeee;
}

.label-highlight {
    display: inline-block;
    width: 100%;
}

a {
    color: #888888;
}

a:hover {
    color: #000000;
}

.help {
    display: inline-block;
    width: 100%;
    background: #eeeeee;
    color: #888888;
    text-align: left;
}

.link-button {
    text-decoration: none;
}

.link-button-reset {
    text-decoration: none;
    color: #888888;
}

.link-button-reset:hover {
    text-decoration: none;
    color: #000000;
}

#sortable {
    list-style-type: none;
    cursor: move;
    display: inline-block;
    width: 100%;
}

#sortable li:hover {
    background: #eeeeee;
}

.counter {
    padding-left: 4px;
    padding-right: 4px;
    font-family: "PT Mono Bold";
    color: #000000;
    background: #dddddd;
}

.block-translated {
    color: #888888;
}

.block-not-translated {
    color: #888888;
}

.keyword-ru {
    font-family: "PT Mono Bold";
    color: #000000;
    display: inline-block;
    margin-bottom: 4px;
}

.keyword-en {
    color: #000000;
}

.separate-checkbox {
    padding-left: 48px;
    text-indent: -26px;
}

.result:hover {
    cursor: pointer;
    background: #eeeeee;
}

.line {
    border-top: dashed 1px #dddddd;
}

.kw-pattern {
    display: inline-block;
    width: 100%;
}

.kw-pattern:hover {
    background: #eeeeee;
}

.block-404-503 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.content-404-503 {
    display: block;
    border: none;
    text-align: left;
}

.hidden {
    display: none;
}

.pluso {
    margin-left: -4px;
}

.pluso-more {
    display: none !important;
}