@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Есть цвет в скрипте js/uncheckedTranslations.js */

/*
Table of content

    General
    Typography
    Color
 */

/*
 * ----------------------------------------------------------------
 * General
 * ----------------------------------------------------------------
 */

body {
    font-family: 'Source Code Pro', monospace;
    cursor: default;
    color: #444444;
}

.wrap {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.content_right {
    text-align: right;
}

.amount {
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 700;
    color: #000;
    background: #ddd;
}

/*
 * ----------------------------------------------------------------
 * Typography
 * ----------------------------------------------------------------
 */


/*
 * ----------------------------------------------------------------
 * Color
 * ----------------------------------------------------------------
 */


