# ACCESS
#AuthName "Мета"
#AuthType Basic
##AuthUserFile /home/user2031505/www/access_meta/.htpasswd
#AuthUserFile D:/afoteris/meta/access_meta/.htpasswd
#require valid-user

# DISABLE DIRECTORY INDEX LISTINGS
Options -Indexes

# MAIN FILE OF SITE
DirectoryIndex meta.php

#404
ErrorDocument 404 /404.html

#503
ErrorDocument 503 /503.html

# MAINTENANCE
#RewriteEngine On
##RewriteCond %{REMOTE_ADDR} !^127.0.0.1
##RewriteCond %{REMOTE_ADDR} !^37.45.151.255
##RewriteCond %{REMOTE_ADDR} !^178.125.170.22
#RewriteCond %{SCRIPT_FILENAME} !/503.html
#RewriteCond %{SCRIPT_FILENAME} !/css/meta.css
#RewriteCond %{SCRIPT_FILENAME} !/webfonts
#RewriteCond %{SCRIPT_FILENAME} !/favicon.ico
#RewriteRule ^.*$ /503.html [R=503,L]