# ACCESS
#AuthType Basic
#AuthName "Мета"
#AuthUserFile /absolute/path/to/.htpasswd
#require valid-user

# DISABLE DIRECTORY INDEX LISTINGS
Options -Indexes

# MAIN FILE OF META
DirectoryIndex meta.php

#404
ErrorDocument 404 /404.html

#503
ErrorDocument 503 /503.html

# MAINTENANCE
#RewriteEngine On
#RewriteCond %{REMOTE_ADDR} !^IP for access during maintenance
#RewriteCond %{SCRIPT_FILENAME} !/503.html
#RewriteCond %{SCRIPT_FILENAME} !/css/meta.css
#RewriteCond %{SCRIPT_FILENAME} !/favicon.ico
#RewriteRule ^.*$ /503.html [R=503,L]