@charset "utf-8";
@import url("webfonts/PT_Sans_Caption_Regular/stylesheet.css");
@import url("webfonts/PT_Sans_Caption_Bold/stylesheet.css");
@import url("webfonts/PT_Sans_Italic/stylesheet.css");
@import url("webfonts/PT_Sans_Bold_Italic/stylesheet.css");
body {
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-style: normal;
	color: #333333;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: "PT Sans Caption Regular";
	background-image: url(ukrashalki/fonchik-14_fev-1.jpg);
	background-attachment: fixed;
}
form {
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
}
video {
	border: 1px solid #F2F2F2;
	width: 598px;
}
h1 {
	font-family: "PT Sans Caption Bold";
	font-size: 32px;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-weight: normal;
	display: block;
}
h2 {
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: "PT Sans Caption Bold";
	font-weight: normal;
	display: block;
}
p {
	margin: 0px;
}
a {
	color: #0099FF;
	font-family: "PT Sans Caption Regular";
}
a:hover {
	color: #80EA15;
	font-family: "PT Sans Caption Regular";
}
.blok_perevoda {
	background-color: #FFFFEA;
	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 12px;
	margin-top: 0px;
	margin-right: -12px;
	margin-bottom: 2px;
	margin-left: -12px;
	border: 1px solid #E9E9E9;
	border-radius: 4px;
}
.oshibka {
	color: #FF0000;
	font-family: "PT Sans Italic";
	margin: 0px;
	display: block;
	text-align: left;
	padding: 0px;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.otbivka_0 {
	clear: both;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
}
.otbivka_6 {
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.otbivka_12 {
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.otbivka_24 {
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 24px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.otbivka_48 {
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 48px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.otbivka_96 {
	clear: both;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 96px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.informaczya {
	text-align: left;
	margin: 0px;
	float: left;
	width: 280px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: "PT Sans Italic";
	color: #666666;
}
.informaczya_vydelenie {
	font-family: "PT Sans Bold Italic";
}
.korobka {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: left;
	background-color: #FFFFFF;
	padding-top: 48px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-left: 60px;
	box-shadow: 0px 0px 6px 6px rgba(122, 122, 122, 0.180);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 480px 120px;
	background-image: url(ukrashalki/kartinka-14_fev.jpg);
}
.korobka_2 {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: left;
	background-color: #FFFFFF;
	padding-top: 48px;
	padding-right: 60px;
	padding-bottom: 0px;
	padding-left: 60px;
	box-shadow: 0px 0px 6px 6px rgba(122, 122, 122, 0.180);
}

.knopka {
	height: 36px;
	width: 300px;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	color: #333333;
}
.krasnaya {
	font-family: "PT Sans Caption Regular";
	color: #FF0000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.krasnaya a {
	font-family: "PT Sans Caption Regular";
	color: #FF0000;
	margin-top: 0px;
	margin-right: -4px;
	margin-bottom: 0px;
	margin-left: -4px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.krasnaya a:hover {
	font-family: "PT Sans Caption Regular";
	color: #FFFFFF;
	background-color: #FF0000;
	margin-top: 0px;
	margin-right: -4px;
	margin-bottom: 0px;
	margin-left: -4px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.na_russk_angl {
	font-family: "PT Sans Caption Bold";
}
.upravlenie {
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: "PT Sans Italic";
	color: #666666;
}
.perevod {
	color: #663300;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
}
.podval {
	width: 100%;
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #F2F2F2;
	padding-top: 24px;
	padding-right: 60px;
	padding-bottom: 48px;
	padding-left: 60px;
	margin-top: 0px;
	margin-right: -60px;
	margin-bottom: 0px;
	margin-left: -60px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.podval_tekst {
	text-align: left;
	font-size: 12px;
	color: #999999;
}

.russk {
	font-family: "PT Sans Caption Bold";
}
.rezultat_fon {
	background-color: #FFFFEA;
	width: 100%;
	margin-top: 0px;
	margin-right: -12px;
	margin-bottom: 0px;
	margin-left: -12px;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	border-radius: 4px;
	border: 1px solid #E9E9E9;
}
.znachenie {
	font-family: "PT Sans Italic";
	margin: 0px;
	padding: 0px;
}
.opornoe_slovo_zayavki {
	border: 4px dashed #FFFFCC;
	width: 588px;
	font-family: "PT Sans Caption Bold";
	font-size: 32px;
	padding-top: 0px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 6px;
	margin-top: 0px;
	margin-right: -4px;
	margin-bottom: 0px;
	margin-left: -4px;
}
.perevoda_net {
	font-family: "PT Sans Italic";
	color: #FF0000;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
}
.nomer_shaga {
	font-size: 60px;
	color: #666666;
}
.statistika {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
	clear: both;
	color: #666666;
	font-family: "PT Sans Italic";
}
.statistika_czyfra {
	font-family: "PT Sans Caption Bold";
	color: #000000;
}
.versiya {
	font-family: "PT Sans Italic";
	color: #666666;
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: right;
}
.vnimanie {
	color: #FFFFFF;
	background-color: #80EA15;
	display: block;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width: 44px;
	font-size: 10px;
	text-align: center;
	font-family: "PT Sans Caption Bold";
	/* [disabled]border-radius: 6px; */
	float: left;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.vyvod_spiska_flagov {
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 600px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.vvod_slov {
	width: 300px;
	margin: 0px;
	float: left;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.vvod_slov_tekst {
	height: 178px;
	width: 278px;
	margin: 0px;
	resize: none;
	padding: 10px;
	border: 1px solid #BFDFFF;
	font-size: 14px;
	font-family: "PT Sans Caption Regular";
	text-align: left;
	display: block;
}
.yandex_metrika {
	padding: 0px;
	width: 100%;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: -24px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 298px;
}
#sortable li {
	margin-top: 0px;
	margin-right: -12px;
	margin-bottom: 2px;
	margin-left: -12px;
	padding-top: 2px;
	padding-right: 12px;
	padding-bottom: 2px;
	padding-left: 24px;
	background-color: #FFFFEA;
	border: 1px solid #E9E9E9;
	border-radius: 4px;
	background-image: url(strelki-vverh-vniz.png);
	background-repeat: no-repeat;
	background-position: 11px center;
}
