# ACCESS
AuthName "Управление Меты"
AuthType Basic
#AuthUserFile /home/user2031505/www/access_meta/.htpasswd
AuthUserFile D:/afoteris/meta/access_meta/.htpasswd
require valid-user

# MAIN FILE OF ADMINISTRATIVE PART OF META
DirectoryIndex meta_admin.php