# ACCESS
AuthName "Управление Меты"
AuthType Basic
#AuthUserFile /home/user2031505/www/access_meta/.htpasswd
AuthUserFile D:/afoteris/meta/access_meta/.htpasswd
require valid-user

# DISABLE DIRECTORY INDEX LISTINGS
Options -Indexes

# MAIN FILE OF SITE
DirectoryIndex meta_admin.php