@charset "utf-8";
@import url("/webfonts/PT_Sans_Caption_Regular/stylesheet.css");
@import url("/webfonts/PT_Sans_Caption_Bold/stylesheet.css");
@import url("/webfonts/PT_Sans_Italic/stylesheet.css");
@import url("/webfonts/PT_Sans_Bold_Italic/stylesheet.css");


/*
Table of content

    General
    Typography
    Color
 */

/*
 * ----------------------------------------------------------------
 * General
 * ----------------------------------------------------------------
 */

body {
    background-image: url(/images/bg_pattern.jpg);
    text-align: center;
    margin: 0;
    padding: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-attachment: fixed;
}

form {
    padding: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    display: block;
}

h2 {
    margin: 0;
    padding: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    display: block;
}

p {
    margin: 0;
}

.blok_perevoda {
    padding-top: 2px;
    padding-right: 12px;
    padding-bottom: 2px;
    padding-left: 12px;
    margin-top: 0;
    margin-right: -12px;
    margin-bottom: 2px;
    margin-left: -12px;
    border: 1px solid;
    border-radius: 4px;
}

.perevod {
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 12px;
}

.perevoda_net {
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 12px;
}

.znachenie {
    margin: 0;
    padding: 0;
}

.oshibka {
    margin: 0;
    display: block;
    text-align: left;
    padding: 0;
    width: 100%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.otbivka_0 {
    clear: both;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    margin: 0;
}

.otbivka_6 {
    clear: both;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 6px;
    margin-left: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.otbivka_12 {
    clear: both;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 12px;
    margin-left: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.otbivka_24 {
    clear: both;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.otbivka_48 {
    clear: both;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 48px;
    margin-left: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.otbivka_96 {
    clear: both;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 96px;
    margin-left: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.informaczya {
    text-align: left;
    margin: 0;
    float: left;
    width: 280px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.opornoe_slovo_zayavki {
    border: 4px dashed;
    width: 588px;
    padding-top: 0;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: -4px;
}

.podval {
    margin: 0;
    width: 100%;
    text-align: left;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    padding: 0;
}

.poyasnenie {
}

.proverit_pox_perevod {
    display: block;
    float: right;
    padding: 0;
    margin-top: 0;
    margin-right: 36px;
    margin-bottom: 0;
    margin-left: 0;
}

.korobka {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
    padding-top: 48px;
    padding-right: 60px;
    padding-bottom: 48px;
    padding-left: 60px;
}

.cherta {
    margin: 0;
    padding: 0;
    border: 1px dashed;
}

.knopka {
    height: 36px;
    width: 300px;
    padding: 0;
    margin: 0;
}

.krasnaya {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.krasnaya a {
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: -4px;
    padding-top: 0;
    padding-right: 4px;
    padding-bottom: 0;
    padding-left: 4px;
}

.krasnaya a:hover {
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: -4px;
    padding-top: 0;
    padding-right: 4px;
    padding-bottom: 0;
    padding-left: 4px;
}

.upravlenie {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.statistika {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    clear: both;
}

.stop {
    text-align: center;
    margin: 0;
    padding: 0;
}

.versiya {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

.vyvod_spiska_flagov {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 600px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.vvod_slov {
    width: 300px;
    margin: 0;
    float: left;
    padding: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.vvod_slov_tekst {
    height: 178px;
    width: 278px;
    margin: 0;
    resize: none;
    padding: 10px;
    border: 1px solid;
    text-align: left;
    display: block;
}

.vvod_slovo {
    border: 4px dashed;
    width: 553px;
    padding-top: 0;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
    margin-top: 0;
    margin-right: -4px;
    margin-bottom: 0;
    margin-left: -4px;
}

.kol {
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 6px;
}

.vvod_perevod {
    width: 160px;
    height: 24px;
    padding-top: 0;
    padding-right: 6px;
    padding-bottom: 0;
    padding-left: 6px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border: 1px solid;
}

.vvod_prisutstvie {
    width: 286px;
    height: 24px;
    padding-top: 0;
    padding-right: 6px;
    padding-bottom: 0;
    padding-left: 6px;
    border: 1px solid;
    margin: 0;
}

.vvod_znachenie {
    width: 356px;
    padding-top: 0;
    padding-right: 6px;
    padding-bottom: 0;
    padding-left: 6px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border: 1px solid;
    height: 24px;
}

.minus_plus {
    margin: 0;
    padding: 0;
    text-align: left;
    float: right;
}

.minus_plus_prisutstvie {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 290px;
    float: right;
}

.minus_plus_dobavit {
    margin: 0;
    padding: 0;
    text-align: left;
}

.pm_knopka {
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    border: 1px solid;
}

.pm_knopka_dobavit {
    width: 565px;
    height: 38px;
    margin: 0;
    border: 1px solid;
    text-align: left;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 40px;
}

.pm_knopka_dobavit_prisutstvie {
    width: 300px;
    height: 38px;
    margin: 0;
    border: 1px solid;
    text-align: left;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 40px;
}

.yandex_metric_admin {
    padding: 0;
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: -24px;
    margin-left: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

/*
 * ----------------------------------------------------------------
 * Typography
 * ----------------------------------------------------------------
 */

body {
    font-size: 14px;
    font-style: normal;
    font-family: "PT Sans Caption Regular";
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    font-family: "PT Sans Caption Bold";
}

h2 {
    font-size: 18px;
    font-weight: normal;
    font-family: "PT Sans Caption Bold";
}

a {
    font-family: "PT Sans Caption Regular";
}

a:hover {
    font-family: "PT Sans Caption Regular";
}

.perevoda_net {
    font-family: "PT Sans Italic";
}

.russk {
    font-family: "PT Sans Caption Bold";
}

.znachenie {
    font-family: "PT Sans Italic";
}

.oshibka {
    font-family: "PT Sans Italic";
}

.informaczya {
    font-family: "PT Sans Italic";
}

.informaczya_vydelenie {
    font-family: "PT Sans Bold Italic";
}

.opornoe_slovo_zayavki {
    font-family: "PT Sans Caption Bold";
    font-size: 32px;
}

.podval {
    font-size: 12px;
}

.knopka {
    font-size: 14px;
}

.krasnaya {
    font-family: "PT Sans Caption Regular";
}

.krasnaya a {
    font-family: "PT Sans Caption Regular";
}

.krasnaya a:hover {
    font-family: "PT Sans Caption Regular";
}

.upravlenie {
    font-family: "PT Sans Italic";
}

.nomer_shaga {
    font-size: 60px;
}

.statistika {
    font-family: "PT Sans Italic";
}

.statistika_czyfra {
    font-family: "PT Sans Caption Bold";
}

.versiya {
    font-family: "PT Sans Italic";
}

.vvod_slov_tekst {
    font-family: "PT Sans Caption Regular";
    font-size: 14px;
}

.vvod_slovo {
    font-family: "PT Sans Caption Bold";
    font-size: 32px;
}

.vvod_perevod {
    font-family: "PT Sans Caption Bold";
    font-size: 14px;
}

.vvod_prisutstvie {
    font-family: "PT Sans Caption Bold";
    font-size: 14px;
}

.vvod_znachenie {
    font-size: 14px;
    font-family: "PT Sans Italic";
}

.pm_knopka {
    font-size: 20px;
}

.pm_knopka_dobavit {
    font-size: 40px;
}

.pm_knopka_dobavit_prisutstvie {
    font-size: 40px;
}

/*
 * ----------------------------------------------------------------
 * Color
 * ----------------------------------------------------------------
 */

body {
    color: #333333;
}

a {
    color: #0099FF;
}

a:hover {
    color: #339933;
}

.blok_perevoda {
    background-color: #FFFFEA;
    border-color: #E9E9E9;
}

.perevod {
    color: #663300;
}

.perevoda_net {
    color: #FF0000;
}

.oshibka {
    color: #FF0000;
}

.informaczya {
    color: #666666;
}

.opornoe_slovo_zayavki {
    border-color: #FFFFCC;
}

.podval {
    color: #999999;
}

.korobka {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 6px rgba(122, 122, 122, 0.180);
}

.cherta {
    border-color: #CCCCCC;
}

.knopka {
    color: #333333;
}

.krasnaya {
    color: #FF0000;
}

.krasnaya a {
    color: #FF0000;
}

.krasnaya a:hover {
    color: #FFFFFF;
    background-color: #FF0000;
}

.upravlenie {
    color: #666666;
}

.nomer_shaga {
    color: #666666;
}

.statistika {
    color: #666666;
}

.statistika_czyfra {
    color: #000000;
}

.versiya {
    color: #666666;
}

.vvod_slov_tekst {
    border-color: #FFCC66;
}

.vvod_slovo {
    border-color:  #FFFFCC;
}

.vvod_perevod {
    border-color: #CCCCCC;
}

.vvod_prisutstvie {
    border-color: #CCCCCC;
}

.vvod_znachenie {
    border-color: #CCCCCC;
}

.pm_knopka {
    color: #FF0000;
    background-color: #FFFFCC;
    border-color: #CCCCCC;
}

.pm_knopka_dobavit {
    color: #FF0000;
    background-color: #FFFFCC;
    border-color: #CCCCCC;
}

.pm_knopka_dobavit_prisutstvie {
    color: #FF0000;
    background-color: #FFFFCC;
    border-color: #CCCCCC;
}









































